%tr.bank-statement-item-type{ class: "#{item.id}-bank-statement-item" }
  %td.hidden= hidden_field_tag "items[#{item.id}][name]", item.name, class: "name"
  %td.hidden= hidden_field_tag "items[#{item.id}][transfered_on]", item.transfered_on
  %td.hidden= hidden_field_tag "items[#{item.id}][debit]", item.debit
  %td.hidden= hidden_field_tag "items[#{item.id}][credit]", item.credit
  %td.hidden= hidden_field_tag "items[#{item.id}][letter]", item.letter, class: "bank-statement-letter"
  %td.hidden= hidden_field_tag "items[#{item.id}][initiated_on]", item.initiated_on
  %td.hidden= hidden_field_tag "items[#{item.id}][transaction_number]", item.transaction_number

  %td.del
    = link_to "#", class: "destroy" do
      %i
  %td.type-icon
    %i
  %td.name= item.name
  %td
  %td.center.debit= item.debit || 0.0
  %td.center.credit= item.credit || 0.0
  %td.center.bank-statement-letter= item.letter
  %td.clear
    %a{ href: "#" }
      %i
      = :clear.tl
  %td