- content_for(:main_toolbar) do
  = button_tag(:reset.tl, type: :button, class: "btn btn-default", id: "reset_reconciliation")
  = button_tag(:auto_reconciliate.tl, type: :button, class: "btn btn-default", id: "auto_reconciliation")

= field_set(:entries_to_point) do
  .reconciliation-list
    .legend
      %span= :initial_balance_of_bank_statement.tl
      .amounts
        .debit
          .title= BankStatementItem.human_attribute_name(:debit)
          .field= 0
        .credit
          .title= BankStatementItem.human_attribute_name(:credit)
          .field= 0
      .details

    - @items_grouped_by_date.each do |date, items|
      .date-section
        .date-header
          %span= date
          = tool_to(:add_line.tl, new_backend_bank_statement_bank_statement_item_path(@bank_statement, transfered_on: date, reconciliation: true), remote: true, tabindex: -1, method: :get, data: { update: ".#{date}", update_at: :after, type: :html })

        - items.each do |item|
          .reconciliation-item
            %a#delete
              = :X
              %i
            .title
              %i#type-icon= :Y
              .name= item.name
            .amounts
              .debit= item.credit
              .credit= item.debit
            .details
              .letter= item.letter
              %a.link= :Effacer

    .totals
      #matching
        %button
        .title
        .amounts
          .credit
          .debit
      #to-match
        %button
        .title
        .amounts
          .credit
          .debit
      #final
        %button
        .title
        .amounts
          .credit
          .debit
